/*-----sfondo, header e navbar-----*/

body {
    background-image: url(../Immagini/sfondo.png);
    background-size: cover;
}

main {
    margin-top: 10px;
}

#logo {
    alt: "";
    width: "300 px";
}

#main-header {
    color: black;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.navbar-container {
    display: flex;
    justify-content: center;
}

.navbar {
    position: static;
    background-color: transparent;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar > li, a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(83, 224, 255);
}

/*-----navgestore-----*/

.navgestore {
    position: static;
    background-color: transparent;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
}

.navgestore {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navgestore ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

.navgestore li {
    float: left;
}

.navgestore > li, a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.navgestore a:hover {
    background-color: rgb(83, 224, 255);
}

.navgestore a[href="#"] {
    background-color: rgb(83, 224, 255);
}

/*-----account gestore-----*/

main.gestore {
    display : flex;
    justify-content: space-around;
    align-items: flex-start;
}

#lista_ritardi {

    margin-top: 10px;
    background-color: rgba(211, 75, 75, 0.667);
    border-style: solid;
    border-color: brown;
    flex-basis: 40%;
    height: fit-content;
    margin-bottom: 20%;
}

#lista_in_esaurimento {
    margin-top: 10px;
    background-color: rgba(211, 75, 75, 0.667);
    border-style: solid;
    border-color: brown;
    flex-basis: 40%;
    height: fit-content;
    margin-bottom: 20%;
}

/*-----magazzino-----*/

.magazzino {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.magazzino > div {
    margin: 5px;
    border-style: none;
}

.magazzino > div:hover {
    border-style: double;
    border-color: blue;
}

.magazzino table {
    background-color: black;
    width: 80%;
}

.magazzino caption {
    background-color: rgb(204, 252, 189);
    border-style: solid;
    border-bottom-style: none ;
}

.magazzino th {
    background-color: rgb(204, 252, 189);
}

.magazzino td{
    background-color: rgb(204, 252, 189);
}

.magazzino table {
    margin-bottom: 10%;
}

/*-----nuovo libro-----*/

div.aggiungiLibro {
    margin-bottom: 10%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.aggiungiLibro fieldset {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

/*sezione del libro*/

.libro input {
    margin-bottom:10px;
}

.libro textarea {
    margin-right: 15%;
}

/*sezione dell'autore*/

.autore input {
    margin-bottom: 10px;
}

/*sezione della pubblicazione*/

.pubblicazione * {
    margin-bottom: 10px;
}

.pubblicazione label {
    margin-right: 15px;
}

/*pulsante di invio*/

#invio {
    width: 10%;
    margin-left: 45%;
    margin-right:45%;
}

/*-----lista utenti-----*/

.utenze {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#lista_registrati_mob {
    display:none;
}

.utenze > div {
    margin: 5px;
    border-style: none;
}

.utenze > div:hover {
    border-style: double;
    border-color: blue;
}

.utenze table {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.utenze caption {
    background-color: rgb(204, 252, 189);
    border-style: solid;
    border-bottom-style: none ;
}

.utenze th {
    background-color: rgb(204, 252, 189);
}

.utenze td{
    background-color: rgb(204, 252, 189);
}

.utenze table {
    margin-bottom: 10%;
}

/*-----prestiti-----*/

.prestiti {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#lista_prestiti_mob {
    display: none;
}

.prestiti > div {
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.navinterna > a {
    margin: 5px;
    border-style: none;
}

.navinterna > a:hover {
    border-style: double;
    border-color: blue;
}

.prestiti table {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.prestiti caption {
    background-color: rgb(204, 252, 189);
    border-style: solid;
    border-bottom-style: none ;
}

.prestiti th {
    background-color: rgb(204, 252, 189);
}

.prestiti td{
    background-color: rgb(204, 252, 189);
}

.prestiti table {
    margin-bottom: 10%;
}

/*-----nuovo prestito-----*/

#nuovoPrestito {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10%;
}

#nuovoPrestito fieldset {
    width: 50%;
    margin-bottom: 10px;
}

fieldset.utente {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

fieldset.libro {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*-----nuovo utente-----*/

#nuovoUtente fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

fieldset > div {
    margin: 7px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.sezione input, .sezione select, .sezione label {
    margin: 5px;
}

/*-----restituzione-----*/

#restituzione {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10%;
}

#restituzione > fieldset {
    width: 50%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*-----footer-----*/

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 10%;
    bottom: 0;
    margin: 0;
}

footer a {
    display: inline-block;
    color: white;
    padding: 0;
    padding-bottom: 10%;
    margin: 5px;
}